<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="media/weather.png">
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Jennifer Debono. It uses API data from mapbox.com and weatherstack.com, using
            node.js. </p>
        <img class="portrait" src="/media/headshot.jpg">
    </div>

    {{>footer}}
</body>

</html>